# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
config.ts

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
artifacts/
Time To Rise Summit 2025 Day2 General Session Replay \[1052454031].mp4
